public class Prime {
	
	 public static void main(String args[]){
	 		 	 	 
		  for (int i = 2; i <=10;i++){
			  inner:
		 		 for(int j =2; j<=i;j++){
		 				 			  
		 			 if(i%j == 0){
		 				 
			 			  if(i/j ==1){
			 				 System.out.println("  PRIME :" + i);
			 				 break; 
			 			  }
			 			 if(i/j != 1){
			 				 System.out.println("NOT PRIME : " + i);
			 				 break;
			 			 }
		 			  }
		  
				  	 if(i%j != 0){
			 		 			  
	 		 			  if(j==i-1){
	 		 				  System.out.println("PRIME:" + i);
	 		 				  break;
	 		 			  }
	 		 			  if(j<i){
	 		 				  continue inner;
	 	 		 		  }
				  	 }
		 		 }
		 	}
		 }
	}
	
	
